.wrapper {
  background-color: #fff;
  height: 100%;
  padding: 5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #fff;
  font-weight: bold;
}
