.main {
  height: 84vh;
  width: 100%;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.blog-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: fit-content;
  padding: 1rem;
  border-radius: 20px;
  gap: 0.5rem;
}

.blog-card-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.blog-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid blue;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
}

.blog-card-bot {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog-link {
  text-decoration: none;
  color: red;
}

@media only screen and (max-width: 1024px) {
  .blog-card {
    gap: 0.3rem;
    padding: 0.5rem;
  }
  .blog-card-top {
    gap: 0.5rem;
  }
  .blog-image {
    width: 30px;
    height: 30px;
  }
  .username {
    font-size: 0.9rem;
  }
  .blog-text {
    font-size: 0.7rem;
  }
  .blog-link {
    font-size: 0.7rem;
  }
}
